h1{
    font-family: 'Courier New', Courier, monospace;
    color: cadetblue;
    text-shadow: 2px 2px 4px #fcbcbc;
    font-size: 40px;
    text-align: center;
}

button{
    background-color: rgb(7, 143, 7);
    border: none;
    color: white;
    padding: 15px, 32px;
    text-align: center;
    text-decoration: none;
    display: i;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
}

ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}

li{
    background-color: bisque;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    text-align: center ;
}